<h2>My Assets</h2>

<h4>Add new asset:</h4>

<form name="asset" novalidate>

  <div class="form-group">
    <label>Product</label>
    <input id="productAdd" name="productAdd" class="materialize-input" ng-model="productAdd" required>

    </input>
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea id="descriptionAdd" name="descriptionAdd" class="materialize-textarea"   ng-model="descriptionAdd" required>

    </textarea>
  </div>

</form>

<!-- add new -->
<div ng-hide="ctl.invokeInProgress">
  <button class="btn btn-primary" type="button" ng-click="ctl.add(productAdd, descriptionAdd);" ng-disabled="form.$invalid">Add</button>
</div>
<h4>Existing assets:</h4>

<table>
  <tr>
    <td>Product</td>
    <td>Description</td>
    <td>State</td>
  </tr>
  <tr ng-repeat="x in ctl.myAssets">
    <td>{{ x.product }}</td>
    <td>{{ x.description }}</td>
    <td>{{ x.state }}</td>
    <td><button class="btn btn-primary" type="button" ng-click="ctl.invoke(selectedChannel, selectedCc, selectedPeers, fcn, args)" ng-disabled="form.$invalid">Edit</button></td>
  </tr>
</table>


